In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))
import src.config as config

In [3]:
import src.config as config
from src.inference import (
    get_feature_store
)

from datetime import datetime, timezone, timedelta

def get_current_utc_hour_ceiled():
    """Get current UTC time ceiled to the next hour"""
    current = datetime.now(timezone.utc)
    if current.minute > 0 or current.second > 0:
        # Ceil to next hour
        current = current + timedelta(hours=1)

    # Reset minutes, seconds, and microseconds
    current = current.replace(minute=0, second=0, microsecond=0)
    return current

# Usage
current_hour = get_current_utc_hour_ceiled()
print(f"Current UTC hour (ceiled): {current_hour}")

Current UTC hour (ceiled): 2025-03-04 05:00:00+00:00

In [4]:
def fetch_predictions():
    current_date = pd.Timestamp.now(tz='Etc/UTC').ceil('h')

    fs = get_feature_store()
    fg = fs.get_feature_group(
        name=config.FEATURE_GROUP_MODEL_PREDICTION,
        version=1
    )

    query = fg.select_all()
    query = query.filter(fg.pickup_hour == current_hour)

    return query.read()

In [5]:
fs = get_feature_store()
fg = fs.get_feature_group(
    name=config.FEATURE_GROUP_MODEL_PREDICTION,
    version=1
)

query = fg.select_all()

2025-03-03 23:48:12,608 INFO: Initializing external client
2025-03-03 23:48:12,609 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-03-03 23:48:14,387 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1213633

In [6]:
df= query.read()

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (1.00s)

In [7]:
df

       pickup_location_id  predicted_demand               pickup_hour
0                     227               0.0 2025-02-20 02:00:00+00:00
1                     231              42.0 2025-02-20 02:00:00+00:00
2                     243               0.0 2025-02-20 02:00:00+00:00
3                     203               0.0 2025-02-20 02:00:00+00:00
4                     143              82.0 2025-02-20 02:00:00+00:00
...                   ...               ...                       ...
66115                 115               0.0 2025-03-04 03:00:00+00:00
66116                  14               0.0 2025-03-04 03:00:00+00:00
66117                  71               1.0 2025-03-04 03:00:00+00:00
66118                 172               0.0 2025-03-04 03:00:00+00:00
66119                 222               0.0 2025-03-04 03:00:00+00:00

[66120 rows x 3 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66120 entries, 0 to 66119
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pickup_location_id  66120 non-null  int32
 1   predicted_demand    66120 non-null  float64
 2   pickup_hour         66120 non-null  datetime64[us, Etc/UTC]
dtypes: datetime64[us, Etc/UTC](1), float64(1), int32(1)
memory usage: 1.3 MB

In [22]:
from datetime import datetime, timezone, timedelta

def fetch_next_hour_predictions():
    # Get current UTC time and round up to next hour
    now = datetime.now(timezone.utc)
    next_hour = (now + timedelta(hours=1)).replace(minute=0, second=0, microsecond=0)

    # Extract components from the rounded-up time
    year = next_hour.year
    month = next_hour.month
    day = next_hour.day
    hour = next_hour.hour

    # Create date strings in YYYY-MM-DD format
    current_date = f"{year}-{month:02d}-{day:02d}"
    next_date = next_hour + timedelta(days=1)
    next_date_str = next_date.strftime("%Y-%m-%d")

    fs = get_feature_store()
    fg = fs.get_feature_group(
        name=config.FEATURE_GROUP_MODEL_PREDICTION,
        version=1
    )

    # # First get the full day's data from Hopsworks
    df = fg.filter(
        (fg.pickup_hour >= current_date) &
        (fg.pickup_hour < next_date_str)
    ).read()

    # Then filter for next hour in the DataFrame
    hour_str = f"{current_date} {hour:02d}:00"
    df_hour = df[df['pickup_hour'] == hour_str]

    print(f"Current UTC time: {now}")
    print(f"Next hour: {next_hour}")
    print(f"Querying for date range: {current_date} to {next_date_str}")
    print(f"Filtering for hour: {hour_str}")
    print(f"Found {len(df_hour)} records")
    return df_hour

# Example usage:
predictions = fetch_next_hour_predictions()

2025-03-03 23:54:50,028 INFO: Closing external client and cleaning up certificates.
Connection closed.
2025-03-03 23:54:50,033 INFO: Initializing external client
2025-03-03 23:54:50,033 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-03-03 23:54:51,359 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1213633
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.61s)
Current UTC time: 2025-03-04 04:54:50.027361+00:00
Next hour: 2025-03-04 05:00:00+00:00
Querying for date range: 2025-03-04 to 2025-03-05
Filtering for hour: 2025-03-04 05:00
Found 251 records

In [23]:
now = datetime.now(timezone.utc)

In [24]:
predictions

      pickup_location_id  predicted_demand               pickup_hour
1004                 120               0.0 2025-03-04 05:00:00+00:00
1005                  61               1.0 2025-03-04 05:00:00+00:00
1006                  90              79.0 2025-03-04 05:00:00+00:00
1007                  33               1.0 2025-03-04 05:00:00+00:00
1008                  32               0.0 2025-03-04 05:00:00+00:00
...                  ...               ...                       ...
1250                 117               0.0 2025-03-04 05:00:00+00:00
1251                  73               0.0 2025-03-04 05:00:00+00:00
1252                 174               0.0 2025-03-04 05:00:00+00:00
1253                 258               0.0 2025-03-04 05:00:00+00:00
1254                 224               3.0 2025-03-04 05:00:00+00:00

[251 rows x 3 columns]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66120 entries, 0 to 66119
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pickup_location_id  66120 non-null  int32
 1   predicted_demand    66120 non-null  float64
 2   pickup_hour         66120 non-null  datetime64[us, Etc/UTC]
dtypes: datetime64[us, Etc/UTC](1), float64(1), int32(1)
memory usage: 1.3 MB

In [26]:
import pandas as pd
current_date = pd.Timestamp.now(tz='Etc/UTC').ceil('h')

In [27]:
dt = current_date.ceil('h')

In [29]:
fs = get_feature_store()  
fg = fs.get_feature_group(  
    name=config.FEATURE_GROUP_MODEL_PREDICTION,  
    version=1  
)  
query = fg.select_all() 
query = query.filter(fg.pickup_hour >= "2025-02-13 04:00")
#query = query.filter(fg.pickup_hour > "2025-02-13 05:00:00")  
results = query.read()

2025-03-03 23:56:58,960 INFO: Closing external client and cleaning up certificates.
Connection closed.
2025-03-03 23:56:58,965 INFO: Initializing external client
2025-03-03 23:56:58,966 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-03-03 23:57:00,094 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1213633
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.73s)

In [30]:
fg.filter((fg.pickup_hour >= "2025-02-13") & (fg.pickup_hour < "2025-02-14")).read()

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (1.11s)

Empty DataFrame
Columns: [pickup_location_id, predicted_demand, pickup_hour]
Index: []

In [31]:
results

       pickup_location_id  predicted_demand               pickup_hour
0                     227               0.0 2025-02-20 02:00:00+00:00
1                     231              42.0 2025-02-20 02:00:00+00:00
2                     243               0.0 2025-02-20 02:00:00+00:00
3                     203               0.0 2025-02-20 02:00:00+00:00
4                     143              82.0 2025-02-20 02:00:00+00:00
...                   ...               ...                       ...
66366                 117               0.0 2025-03-04 05:00:00+00:00
66367                  73               0.0 2025-03-04 05:00:00+00:00
66368                 174               0.0 2025-03-04 05:00:00+00:00
66369                 258               0.0 2025-03-04 05:00:00+00:00
66370                 224               3.0 2025-03-04 05:00:00+00:00

[66371 rows x 3 columns]

In [32]:
def fetch_next_hour_predictions():
    # Get current UTC time and round up to next hour
    now = datetime.now(timezone.utc)
    next_hour = (now + timedelta(hours=1)).replace(minute=0, second=0, microsecond=0)

    fs = get_feature_store()
    fg = fs.get_feature_group(name=config.FEATURE_GROUP_MODEL_PREDICTION, version=1)

    # Then filter for next hour in the DataFrame
    df_hour = df[df["pickup_hour"] == next_hour]

    print(f"Current UTC time: {now}")
    print(f"Next hour: {next_hour}")
    print(f"Found {len(df_hour)} records")
    return df_hour

In [33]:
predictions = fetch_next_hour_predictions()

2025-03-03 23:57:32,257 INFO: Closing external client and cleaning up certificates.
Connection closed.
2025-03-03 23:57:32,273 INFO: Initializing external client
2025-03-03 23:57:32,273 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-03-03 23:57:33,515 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1213633
Current UTC time: 2025-03-04 04:57:32.257262+00:00
Next hour: 2025-03-04 05:00:00+00:00
Found 0 records

In [34]:
fs = get_feature_store()
fg = fs.get_feature_group(name=config.FEATURE_GROUP_MODEL_PREDICTION, version=1)

2025-03-03 23:57:34,550 INFO: Closing external client and cleaning up certificates.
Connection closed.
2025-03-03 23:57:34,556 INFO: Initializing external client
2025-03-03 23:57:34,557 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-03-03 23:57:35,716 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1213633

In [35]:
df = fg.read()

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.79s)

In [36]:
df["pickup_hour"].max()

Timestamp('2025-03-04 05:00:00+0000', tz='Etc/UTC')

In [37]:
now = datetime.now(timezone.utc)
next_hour = (now + timedelta(hours=1)).replace(minute=0, second=0, microsecond=0)
print(next_hour)

2025-03-04 05:00:00+00:00

In [38]:
df[df["pickup_hour"] == next_hour]

       pickup_location_id  predicted_demand               pickup_hour
66120                 120               0.0 2025-03-04 05:00:00+00:00
66121                  61               1.0 2025-03-04 05:00:00+00:00
66122                  90              79.0 2025-03-04 05:00:00+00:00
66123                  33               1.0 2025-03-04 05:00:00+00:00
66124                  32               0.0 2025-03-04 05:00:00+00:00
...                   ...               ...                       ...
66366                 117               0.0 2025-03-04 05:00:00+00:00
66367                  73               0.0 2025-03-04 05:00:00+00:00
66368                 174               0.0 2025-03-04 05:00:00+00:00
66369                 258               0.0 2025-03-04 05:00:00+00:00
66370                 224               3.0 2025-03-04 05:00:00+00:00

[251 rows x 3 columns]